{
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/standard"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  }
}
